mat-dialog-title {
  justify-content: center;
}
.button {
  width: 100px;
}

.content {
  mat-form-field {
    width: 100%;
  }
}

.btn-row {
  padding-bottom: 20px;
}

.error {
  margin-left: 90px;
  color: red;
}
