.container {
  margin: 10px 0px 0 30px;
  max-width: 100%;
}

.pagination {
  display: flex;
  margin-left: 33%;
  position: fixed;
  bottom: 0;
  margin-bottom: 30px;
}

table {
  width: 100%;
}
